<center><div class="col-sm-11 col-xs-12 blog-content">
  <h2 class="text-center"><%= @post.title %></h2>
  <h5 class="text-center">Created on: <%= @post.created_at.strftime('%b %d, %Y') %></h5>
  <div class="text-center"> By: <%= @post.user.email%></div>
  <div><%= raw @post.body %></div>
<h1><% @post.title %></h1>


</div>
</center>
